.container {
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .labelInputPair{
            display: flex;
            flex-direction: row;
            gap: 10px;
    
            label{
                width: 100px;
            }
        }
    
        button{
            width: fit-content;
            padding: 4px;
            font-size: medium;
            cursor: pointer;
        }
    }


}